.modal__field {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 358px;
  height: 27px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  padding: 0;
  margin-bottom: 30px;
}


@media screen and (max-width: 570px) {
  .modal__field {
    width: 200px;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 20px;
  }
}
