.modal__esc-button {
  position: absolute;
  right: -41px;
  top: -41px;
  width: 41px;
  height: 41px;
  border: 0;
  background: url('../../../images/close-icon.svg') no-repeat;
  background-position: center;
  padding: 0;
  transition: opacity .5s ease;
}

.modal__esc-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 570px) {
  .modal__esc-button {
    right: -31px;
    top: -31px;
    background: url('../../../images/close-icon-small.svg') no-repeat;
  }
}
