.profile__info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 336px;
  align-content: flex-start;
  margin-right: auto;
}


@media screen and (max-width: 570px) {
  .profile__info {
    justify-items: center;
    margin-right: 0;
    margin-bottom: 36px;
    margin-top: 10px;
  }
}
