@import url('./__form/modal__form.css');
@import url('./__title/modal__title.css');
@import url('./__field/modal__field.css');
@import url('./__field/_assign/modal__field_assign_name.css');
@import url('./__field/_assign/modal__field_assign_profession.css');
@import url('./__field/_assign/modal__field_assign_link.css');
@import url('./__field/_assign/modal__field_assign_title.css');
@import url('./__esc-button/modal__esc-button.css');
@import url('./__submit-button/modal__submit-button.css');
@import url('./__image/modal__image.css');
@import url('./_assign/modal_assign_album.css');
@import url('./_assign/modal_assign_confirm-delete.css');
@import url('./_assign/modal_assign_form-add.css');
@import url('./_assign/modal_assign_form-avatar.css');
@import url('./__large-photo/modal__large-photo.css');
@import url('./__caption/modal__caption.css');
@import url('./__field/_type/modal__field_type_error.css');
@import url('./__field-error/modal__field-error.css');
@import url('./__field-error/_active/modal__field-error_active.css');
@import url('./__submit-button/_disabled/modal__submit-button_disabled.css');
@import url('./__confirm-text/modal__confirm-text.css');

.modal {
  display: flex;
  width: 100vw;
  min-width: 300px;
  height: 100vh;
  background: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
}
