@import url('./__logo/header__logo.css');


.header {
    padding-top: 45px;
    padding-bottom: 40px;
    max-width: 882px;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    margin: 0 auto;
}

@media screen and (max-width: 882px) {
  .header {
    padding-left: 27px;
  }
}

@media screen and (max-width: 570px) {
  .header {
    padding-top: 28px;
    padding-bottom: 31.5px;
  }
}

