.profile__profession {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-overflow: ellipsis;
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 680px) {
  .profile__profession {
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 570px) {
  .profile__profession {
    max-width: 220px;
    margin: 0 auto;
  }
}
