@import url('./__copyright/footer__copyright.css');

.footer {
  max-width: 882px;
  margin: 0 auto;
  padding: 66px 0 60px;
}

@media screen and (max-width: 882px) {
  .footer {
    padding-left: 19px
  }
}

@media screen and (max-width: 570px) {
  .footer {
    padding: 48px 19px 36px;
  }
}
